/* src/app/ticket-template/ticket-template.css */
body {
  background-color: transparent !important;
}

.ticket-render-container {
  display: inline-block;
  padding: 1rem;
}

.ticket-stub {
  position: relative;
  flex-shrink: 0;
  background-color: #991b1b; /* bg-red-800 */
  color: white;
  padding: 1.25rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.ticket-stub::before,
.ticket-stub::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: white; /* Match the top part's background */
  border-radius: 50%;
  top: -12px;
}

.ticket-stub::before {
  left: -12px;
}

.ticket-stub::after {
  right: -12px;
}
